
/* my basic styling for the body and header*/
*::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.d-n {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    widows: 100%;
    height: 100%;
    color: white;
    background: #857712;
}
.container {
    position: fixed;
    padding: 100px;
    position: center;
    margin: 20px;
}
.quiz-box {
    border-style: double;
    background-color: rgb(86, 102, 13);
    position: center;
    padding: 100px;
}
.btn {
    background-color: white;
}