
/* my basic styling for the body and header*/
::after, ::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: white;
    background: #857712;
}
.container {
    position: fixed;
    padding: 100px;
    position: center;
    margin: 20px;
}
.quiz-box {
    border-style: double;
    background-color: rgb(86, 102, 13);
    position: center;
    padding: 100px;



}